.logo-holder svg {
    width: 2rem;
}

.logo-holder {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.logo-name {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 1;
}

.logoBlock {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.logoBlock img {
    width: 100%;
}