.navbar-top {
    justify-content: space-between !important;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    box-shadow: var(--boxShadow);
}

.left-nav-bar {
    display: flex;
    align-items: center;
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

.avatar.avatar-xl.user-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-position: center;
    background-size: 100%;
}

.toggle-icon-wrapper {
    margin-right: 20px;
}

.dropdown.user-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: pointer;
}

.avatar.avatar-xl.user-image {
    margin-right: 10px;
}

.user-name small {
    line-height: 1;
    color: #8c8c8c;
}

.right-nav-bar .btn-light,
.right-nav-bar .btn-light:focus {
    border: 1px solid #ced4da;
    background: var(--elementBG);
    border-color: var(--btnBorderColor);
    color: var(--fontsColor)
}

.notification-holder-btn.top-nav-control.dropdown {
    margin-right: 30px;
}

.search-box.dropdown input {
    display: block;
    box-sizing: border-box;
    background: var(--elementBG);
    border-color: var(--btnLightBorder);
}

.dropdown-menu {
    background: var(--elementBG);
    color: var(--fontsColor)
}

.navbar.navbar-light {
    height: 3.5rem;
    background: var(--elementBG);
    box-sizing: border-box;
    z-index: 100;
}

.content.full-width .navbar-top .left-nav-bar {
    margin-left: 1rem;
}

.n-icon {
    color: var(--fontsColor);
    background-color: var(--btnLightBackground);
    border-color: var(--btnLightBorder);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.noticication_cards {
    padding: 0.5rem;
}

.d_date {
    font-size: 0.7rem;
    text-align: right;
}

.notificationCard.card .col-2 {
    padding: 0;
    width: 20%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.notificationCard.card {
    padding: 0.5rem;
}

.n_author {
    font-size: 0.8rem;
}

.n_header {
    font-weight: bold;
}

.notification-status {
    font-size: 0.5rem;
    position: absolute;
    top: -3px;
    right: -3px;
}

.notification-status.nf-viewed {
    color: #bdbdbd;
}

.notification-status.nf-not-viewed {
    color: var(--bs-primary);
}

.nf-row {
    display: flex;
    align-items: flex-start;
}

.nf-col-bell {
    margin-right: 0.5rem;
}

.nf-col-text {
    width: 100%;
}

.n_text br {
    line-height: 0;
    display: none;
}

.n_text p {
    margin-bottom: 0.1rem;
}

.n_text br {
    line-height: 0;
    display: none;
}

.n_text p {
    margin-bottom: 0.1rem;
}

.n_text a,
.n_text a:visited,
.n_text a:active,
.n_text a:hover {
    box-sizing: border-box;
    color: #6769EA;
    text-decoration: underline;
}

.nf-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nf_confirm_button {
    display: flex;
    justify-content: flex-end;
}