.navbar-top {
    justify-content: space-between !important;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 0 2rem 0 rgb(41 48 66 / 10%);
}

.left-nav-bar {
    display: flex;
    align-items: center;
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

.search-box.dropdown i {
    position: absolute;
    top: 7px;
    right: 10px;
}

.avatar.avatar-xl.user-image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-position: center;
    background-size: 100%;
}

.logo-holder {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.logo-holder svg {
    fill: #e91e63;
}

.logo-name {
    font-size: 1.5rem;
}

button#toggleNavigationTooltip i {
    font-size: 1.5rem;
    line-height: 0;
}

button#toggleNavigationTooltip {
    border: 1px solid;
    border-color: var(--btnBorderColor);
    background: var(--elementBG);
    color: var(--fontsColor);
    line-height: 1 !important;
    padding: 0.375rem 0.375rem;
}

.toggle-icon-wrapper {
    margin-right: 20px;
}

.dropdown.user-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-name {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    cursor: pointer;
}

.avatar.avatar-xl.user-image {
    margin-right: 10px;
}

.user-name small {
    line-height: 1;
    color: #8c8c8c;
}

.right-nav-bar .btn,
.right-nav-bar .btn-light:focus {
    border: 1px solid #ced4da;
    background: var(--elementBG);
    border-color: var(--btnBorderColor);
    color: var(--fontsColor)
}

.notification-holder-btn.top-nav-control.dropdown {
    margin-right: 30px;
}

.search-box.dropdown input {
    display: block;
    box-sizing: border-box;
    background: var(--elementBG);
    border-color: var(--btnLightBorder);
}

.dropdown-menu {
    background: var(--elementBG);
    color: var(--fontsColor)
}

.navbar.navbar-light {
    height: 2.5rem;
    background: var(--elementBG);
}

.content.full-width .navbar-top .left-nav-bar {
    margin-left: 1rem;
}