.dropdownNotificationBlock {
    position: fixed;
    width: 30rem;
    height: calc(100% - 3.5rem);
    background: #0000004d;
    z-index: 20;
    right: -30rem;
    bottom: 0;
    overflow: auto;
    transition: all 0.5s;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: var(--boxShadow);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.dropdownNotificationBlock.active {
    right: 0;
}

.ql-toolbar.ql-snow {
    border-radius: 0.25rem 0.25rem 0 0;
    background: var(--mainBG);
}

.ql-container.ql-snow {
    border-radius: 0 0 0.25rem 0.25rem;
    min-height: 200px
}

.col.w-initial {
    width: initial !important;
    flex: initial;
}