button.btn.btn-toggle.btn-sdb-toggle:before {
    display: none;
}

#app button.btn.btn-toggle.btn-sdb-toggle {
    font-size: 0.8rem;
    color: #9b9b9b !important;
}

.nav-pills .nav-link.active:before,
.nav-pills .show>.nav-link {
    content: '';
    position: absolute;
    left: 0;
    width: 7px;
    height: 7px;
    background: #0d6efd;
    border-radius: 10px;
    top: 50%;
    margin-top: -3.5px;
    z-index: 10;
    opacity: 1;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: none !important;
}

.navbar.navbar-vertical {
    width: 260px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    left: 0px;
    overflow: hidden;
    transition: all 0.5s;
}

.nav-bar-content.scrollbar {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
}

.nav-bar-content::-webkit-scrollbar {
    width: 5px !important;
}

.nav-bar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.nav-bar-content::-webkit-scrollbar-thumb {
    background-color: #0d6efd !important;
    outline: 1px solid #0c397a !important;
    border-radius: 5px !important;
}

.navbar-vertical {
    background: var(--sideBarBG);
}

.navbar-vertical-content.scrollbar.mt-2 {
    width: 100%;
    padding: 0 1.2rem;
    box-sizing: border-box;
    overflow-y: auto;
}

nav.navbar-vertical.navbar.hidden {
    width: 50px;
    box-sizing: border-box;
}

nav.navbar-vertical.navbar>div {
    visibility: visible;
    transition: all 0.2s;
    opacity: 1;
}

li.sidebar-header {
    color: #d5d5d5;
    margin-top: 15px;
    margin-bottom: 10px;
}

a.nav-link {
    padding: 0.3rem 1rem;
}

.nav-link:hover:before {
    background: linear-gradient(45deg, #000000, #00000024);
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0.2rem;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-pills .nav-link i {
    font-size: 0.8rem;
}

.btn.btn-sdb-toggle {
    background: none;
    border: 0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none !important;
    outline: none !important;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
    transform: rotate(0deg) scale(0.7);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg) scale(0.7);
}

ul.side-nav.nav.nav-pills.flex-column.mb-auto {
    background: #0000001a;
    border-radius: 0.25rem;
}

.navbar-vertical-content.scrollbar {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
}

.logo-holder {
    flex: 0 1 auto;
}

.nav-bar-content.scrollbar {
    display: flex;
}

.toggleThemeBlock {
    display: flex;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    background: #000000;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.1rem 0.2rem;
    justify-content: center;
    border-radius: 10rem;
    box-shadow: 1px 1px 1px #000;
}

.darkIcon i {
    font-size: 1rem;
    text-shadow: 1px 1px #000;
}

.lightIcon i {
    font-size: 1.2rem;
    text-shadow: 1px 1px #000;
}

.nav-bar-content.scrollbar {
    overflow-x: hidden;
}

.darkIcon,
.lightIcon {
    padding: 0 0.3rem;
}

.toggleThemeBlock input {
    margin-left: 0px !important;
}

.toggleThemeBlock .form-check {
    padding: 0 0.3rem;
}

.toggleThemeBlock label {
    cursor: pointer;
}

.toggleThemeBlock i.active {
    color: #f3db06;
    font-weight: bold;
}

.hidden .logo-name {
    display: none;
}

.hidden .logo-holder {
    padding: 0;
    justify-content: center;
    width: 100%;
}

.hidden .logo-img.ms-2.me-1 {
    margin: 0 !important;
}

.hidden a.nav-link span {
    display: none;
}

.hidden .navbar-vertical-content.scrollbar.mt-2 {
    padding: 0 0.2rem;
}

.hidden button.btn.btn-toggle.btn-sdb-toggle.text-white {
    display: none;
}

.hidden .nav-pills .nav-link i.me-3 {
    margin: 0 !important;
}

.hidden .nav-pills .nav-link.active:before {
    display: none;
}

.hidden a.nav-link {
    padding: 0.2rem 0.5rem;
    margin: 0.2rem 0;
}

.hidden ul.side-nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hidden .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #0d6efd !important;
}

hr {
    width: 90%;
}

.form-check.form-switch {
    display: none;
}

.lightIcon {
    margin: 0 1rem 0 0.5rem;
}

.darkIcon {
    margin: 0 0.5rem 0 1rem;
}

.toggleThemeBlock:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 90%;
    background: #393939;
    border-radius: 100rem;
    left: 0px;
    transition: 0.5s;
    margin: 0px;
}

.toggleThemeBlock.active:before{
    left: 50%;
}

.darkIcon i, .lightIcon i {
    color: #605f5f;
    transition: all 0.2s;
}

.darkIcon i.active, .lightIcon i.active {
    color: #ffffff;
}

.hidden .toggleThemeBlock {
    display: none;
}