a.nav-link.text-white.router-link-exact-active.router-link-active.active:before {
    content: '';
    position: absolute;
    width: 0.2rem;
    height: 100%;
    background: #6769EA;
    left: 0px;
    z-index: 100;
}

.navbar.navbar-vertical {
    width: 260px;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    left: 0px;
    min-width: 260px;
    overflow: hidden;
}

nav.navbar-vertical:before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #6769ea61, transparent);
    width: 100%;
    height: 0;
    padding: 50%;
    transform: rotate(45deg);
    left: -50%;
    bottom: 0px;
}

nav.navbar-vertical:after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #6769ea61, transparent);
    width: 100%;
    height: 0;
    padding: 50%;
    transform: rotate(45deg);
    left: 50%;
    bottom: 50%;
}

.nav-bar-content.scrollbar {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
}

.nav-bar-content::-webkit-scrollbar {
    width: 5px !important;
}

.nav-bar-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

.nav-bar-content::-webkit-scrollbar-thumb {
    background-color: #0d6efd !important;
    outline: 1px solid #0c397a !important;
    border-radius: 5px !important;
}

.navbar-vertical {
    background: var(--sideBarBG);
}

.navbar-vertical-content.scrollbar.mt-2 {
    width: 100%;
    padding: 0 1.2rem;
    box-sizing: border-box;
    overflow-y: auto;
}

nav.navbar-vertical.navbar.hidden {
    margin-left: -300px;
}

nav.navbar-vertical.navbar.hidden>div {
    visibility: hidden;
    opacity: 0;
}

nav.navbar-vertical.navbar>div {
    visibility: visible;
    transition: all 0.2s;
    opacity: 1;
}

li.sidebar-header {
    color: #d5d5d5;
    margin-top: 15px;
    margin-bottom: 10px;
}

a.nav-link {
    padding: 0.3rem 1rem;
}

.nav-link:hover:before {
    background: linear-gradient(45deg, #000000, #00000024);
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0.2rem;
}

.nav-pills .nav-link {
    background: none;
    border: 0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-pills .nav-link i {
    font-size: 0.8rem;
}

.btn.btn-sdb-toggle {
    background: none;
    border: 0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none !important;
    outline: none !important;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><path fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
    transform: rotate(0deg) scale(0.7);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg) scale(0.7);
}

ul.side-nav.nav.nav-pills.flex-column.mb-auto {
    background: #0000001a;
    border-radius: 0.25rem;
}

.navbar-vertical-content.scrollbar {flex: 1 0 auto;display: flex;flex-flow: column;}

.logo-holder {
    flex: 0 1 auto;
}

.nav-bar-content.scrollbar {
    display: flex;
}

.toggleThemeBlock {
    display: flex;
    align-items: center;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 10px;
    background: #ffffff1f;
    width: fit-content;
    padding: 0.2rem 0.6rem;
    justify-content: center;
    border-radius: 10rem;
}

.darkIcon i {
    font-size: 1rem;
}

.lightIcon i {
    font-size: 1.2rem;
}

.nav-bar-content.scrollbar {
    overflow-x: hidden;
}

.darkIcon, .lightIcon {padding: 0 0.3rem;}

.toggleThemeBlock input {
    margin-left: 0px !important;
}

.toggleThemeBlock .form-check {
    padding: 0 0.3rem;
}