.input-group.input-date-range>span>input {
    height: 100%;
    box-sizing: border-box;
}

.input-group.input-date-range {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background:none;
}

.input-group.input-date-range>span {
    height: 42px;
    box-sizing: border-box;
}

.input-group.input-date-range span.input-group-text {
    box-sizing: border-box;
}

.input-group.input-date-range>span:nth-child(2)>input {
    border-radius: 0;
}

.input-group.input-date-range>span:last-child>input {
    border-radius: 0 0.25rem 0.25rem 0;
}

.multiselect.form-control .multiselect__tags {
    border: 0;
}

.multiselect.form-control {
    padding: 0;
}

.inputMultiSelect>span {
    width: fit-content;
    border-radius: 0.25rem 0 0 0.25rem;
}

.inputMultiSelect {
    display: flex;
}

.inputMultiSelect .multiselect {
    border-radius: 0 0.25rem 0.25rem 0;
}

.col.taskCheck {
    display: flex;
    align-items: flex-end;
}

.tsakImpCheck {
    margin-bottom: 0.6rem;
}

.multiselect__tags {
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0.2rem;
}

span.multiselect__tag {
    margin: 0 0.3rem !important;
    background: var(--btnLightBackground);
    color: var(--fontsColor);
    height: 100%;
    align-items: center;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i.multiselect__tag-icon:after {
    color: var(--fontsColor);
}

.multiselect__tags-wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

i.multiselect__tag-icon {
    border-radius: 100rem;
    position: relative;
    margin: 0;
    line-height: 1;
    height: 17px;
    width: 17px;
    display: block;
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #00000075;
}

.multiselect__option--highlight {
    background: var(--btnLightBackground);
    color: var(--fontsColor);
}

.multiselect__option--highlight:after {
    display: none;
}

.form-check-input:checked[type=checkbox] + label i {
    color: #ffc107;
    text-shadow: 1px 0px 0px #000;
}